<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>Create a New Account</h1>
<h3>Please enter the following details:</h3>

<br>
<form method="POST" action="/signup">
  <p><b>Name:</p> <input type="text" name="name"></p>
  <p>Email:</p> <input type="text" name="email"></p>
  <p>Choose a Username:</p> <input type="text" name="username"></p>
  <p>Choose a Password:</p> <input type="password" name="password"></b></p>
  <p><sup>All fields required*</p></sup>
  <input class="submit" type="Submit" value="Create My Account!">
</form>

<br>
<br>
<a href="/"> Home </a>
<br>

</html>
