<h1>USA Travelers</h1>
  <ul>
  </ul>

  <h3>User List:</h3>
    <ul>
      <% @users.each do |user| %>
          <li><%= user.username %>
          has been to <%= State.count %> out of 50 states!</li>
        <% end %>

    </ul>

<br>
<br>

    <a href='/users/new'>Create a New Account</a>
    <br>
    <a href='/users/:slug'>Go to My Account</a>  #need to fix
