<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>Log In to see Your States: </h1>
<form method="POST" action="/login">
    <p><b>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></b></p>
    <input type="submit" value="Submit">
</form>
<br>
Need an Account? <a href="/signup"> Sign Up </a>

</head>
<br>
<a href="/"> Home </a>
</html>
