<h2>Add State(s)</h2>

<form method="POST" action="/states">
    <h3>Northeast:</h3> <br>
    <input type="checkbox" name="state_name" value="Connecticut"> Connecticut<br>
    <input type="checkbox" name="state_name" value="Deleware"> Deleware <br>
    <input type="checkbox" name="state_name" value="Maine"> Maine<br>
    <input type="checkbox" name="state_name" value="Maryland"> Maryland<br>
    <input type="checkbox" name="state_name" value="Massachusetts"> Massachusetts<br>
    <input type="checkbox" name="state_name" value="New Hampshire"> New Hampshire<br>
    <input type="checkbox" name="state_name" value="New Jersey"> New Jersey<br>
    <input type="checkbox" name="state_name" value="New York"> New York<br>
    <input type="checkbox" name="state_name" value="Pennsylvania"> Pennsylvania<br>
    <input type="checkbox" name="state_name" value="Rhode Island"> Rhode Island<br>
    <input type="checkbox" name="state_name" value="Vermont"> Vermont<br>

    <br>
    <h3>Southeast:</h3>
      <br>
    <input type="checkbox" name="state_name" value="Alabama"> Alabama<br>
    <input type="checkbox" name="state_name" value="Arkansas"> Arkansas<br>
    <input type="checkbox" name="state_name" value="Flordia"> Flordia<br>
    <input type="checkbox" name="state_name" value="Georgia"> Georgia<br>
    <input type="checkbox" name="state_name" value="Kentucky"> Kentucky<br>
    <input type="checkbox" name="state_name" value="North Carolina"> North Carolina<br>
    <input type="checkbox" name="state_name" value="South Carolina"> South Carolina<br>
    <input type="checkbox" name="state_name" value="Louisiana"> Louisiana<br>
    <input type="checkbox" name="state_name" value="Missippi"> Missippi<br>
    <input type="checkbox" name="state_name" value="Tennessee"> Tennessee<br>
    <input type="checkbox" name="state_name" value="Virginia"> Virginia<br>
    <input type="checkbox" name="state_name" value="West Virginia"> West Virginia<br>

    <br>
    <h3>Midwest:</h3>
      <br>
      <input type="checkbox" name="state_name" value="Iowa"> Iowa<br>
      <input type="checkbox" name="state_name" value="Indiana"> Indiana<br>
    <input type="checkbox" name="state_name" value="Illinois"> Illinois <br>
    <input type="checkbox" name="state_name" value="Kansas"> Kansas <br>
    <input type="checkbox" name="state_name" value="Michigan"> Michigan <br>
    <input type="checkbox" name="state_name" value="Minnesota"> Minnesota<br>
    <input type="checkbox" name="state_name" value="Missouri"> Missouri<br>
    <input type="checkbox" name="state_name" value="Nebraska"> Nebraska <br>
    <input type="checkbox" name="state_name" value="Ohio"> Ohio <br>
    <input type="checkbox" name="state_name" value="North Dakota"> North Dakota <br>
    <input type="checkbox" name="state_name" value="South Dakota"> South Dakota <br>
    <input type="checkbox" name="state_name" value="Wisconsin"> Wisconsin <br>


    <br>
    <h3>West:</h3>
      <br>
      <input type="checkbox" name="state_name" value="Alaska"> Alaska<br>
    <input type="checkbox" name="state_name" value="California"> California<br>
    <input type="checkbox" name="state_name" value="Colorado"> Colorado<br>
    <input type="checkbox" name="state_name" value="Hawaii"> Hawaii<br>
    <input type="checkbox" name="state_name" value="Idaho"> Idaho<br>
    <input type="checkbox" name="state_name" value="Montana"> Montana<br>
    <input type="checkbox" name="state_name" value="Nevada"> Nevada<br>
    <input type="checkbox" name="state_name" value="Oregon"> Oregon<br>
    <input type="checkbox" name="state_name" value="Utah"> Utah<br>
    <input type="checkbox" name="state_name" value="Washington"> Washington<br>
    <input type="checkbox" name="state_name" value="Wyoming"> Wyoming<br>

    <br>
    <h3>Southwest:</h3>
      <br>
    <input type="checkbox" name="state_name" value="Arizona"> Arizona <br>
    <input type="checkbox" name="state_name" value="New Mexico"> New Mexico <br>
    <input type="checkbox" name="state_name" value="Oklahoma"> Oklahoma <br>
    <input type="checkbox" name="state_name" value="Texas"> Texas<br>


<br>
    <input type="submit" value= "Add These State(s)!">
</form>

<br>
<a href="/states"> Back to my State List </a>
<br>
<a href="/logout"> Log Out </a>
