<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h2> Edit State </h2>

<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>




Reason for visiting, or favorite memory of <%= @state.state_name %>?
<% @userstate = UserState.find_or_initialize_by(state_id: params[:id], user_id: current_user.id) %>
  <form method="POST" action"/states/<%= @state.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input <textarea name="memory" style="width:200px;height:100px;" value="<%= @userstate.memory %>" ></textarea>


    <br>
    <input class="button" type="submit" value= "Update Memory!">
</form>
<br>


<a href="/states"> Back to My States </a>
<br>
<a href="/">Home</a>
<br>
<a href="/logout"> Log Out </a>

</head>
</html>
