<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a State</title>
  </head>
  <body>

    <h1>Add a State!</h1>

    <form method="POST" action="/states">
      <label for="name">Name: </label>
      <input name="name" type="text"><br><br>
      <label for="region">Region: </label>
      <input name="region" type="text"><br><br>
      <label for="abbreviation">Abbreviation: </label>
      <input name="abbreviation" type="text"><br><br>
      <input type="submit">

    </form>

  </body>
</html>
