<p> Welcome, <%= current_user.username %>
<br><h2> States: </h2>
</br>

 <% @states.each do |state| %>
     <%= state.state_name %>
     <br><br>
 <% end %>

<a href="/states/new"> Add a State to Your List </a>
<br>
<a href="/logout"> Log Out </a>
