<div class="container">
  <!-- <header><img src="images/corneal-small.png" class="img-responsive main-image"></header> -->
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the State Tracker!</h2>
    <h3>How Many States in the US Have You Been To?</h3>
    <img src="images/us-map.jpg" alt="US Map">

    <div class="content">
    </div>

    <% if logged_in? %>
    <p><h3>Welcome, <%= current_user.username %></h3></p>
    <a href="/states/new"> Add a State </a><br><br>
    <a href="/logout"> Log Out </a>


  <% else %>
    <p><h3>To get started, please select one of the following:</h3></p>
    New user? <a href="/signup">Create an Account.</a>
    <br>
    <br>
    Already have an account? <a href="/login"> Log In.</a>
  <% end %>


  </div>
</div>
